<!-- The content below is only a placeholder and can be replaced. -->


<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent fixed-top" id="main-nav">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img height="40" src="./../assets/images/logo5.png" class="logo-white" alt="logo" />

                <img height="40" src="./../assets/images/logo6.png" class="logo-color" alt="logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="la la-bars"></span>
      </button>
            <div class="collapse navbar-collapse py-4" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" scrollTo href="#jumbotron"><b>Home</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" scrollTo href="#about" data-target="#about"><b>About</b></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" scrollTo href="#service"><b>Service</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" scrollTo href="#trusted"><b>Clients</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" scrollTo href="#gallery"><b>Gallery</b></a>
                    </li>
                    <!--
            <li class="nav-item">
                <a class="nav-link" scrollTo href="#blog"><b>Blog</b></a>
            </li>
          -->
                    <li class="nav-item">
                        <a class="nav-link" scrollTo href="#contact"><b>Contact</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Banner -->
    <section class="jumbotron jumbotron-fluid cd-intro fullscreen" data-overlay="9" id="jumbotron">
        <div class="container">
            <div class="row mt-40">
                <div class="col-md-10">
                    <h2>HELLO,</h2>
                    <h1 class="my-3">I'm PRASHIL <span class="name-1">PARMAR.</span></h1>
                    <p class="cd-headline clip is-full-width">
                        <span>I am</span>
                        <span class="cd-words-wrapper">
              <b class="is-visible name-1">&nbsp; Designer.</b>
              <b class="name-1">&nbsp; Web Developer.</b>
              <b class="name-1">&nbsp; Freelancer</b>
            </span>
                    </p>
                    <button scrollTo href="#contact" type="button" class="btn btn-dark btn-lg g-button mr-3 mt-35 ">
            Hire Me
          </button>
                    <button type="button" class="btn btn-outline-dark btn-lg g-button-outline mt-35">
                      <a style="color:#ffffff " href="./../assets/images/Prasil_Parmar.pdf" download> Resume</a>
          </button>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/prashil.parmar"><i class="la la-facebook"></i
              ></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/ParmarPrasil"><i class="la la-twitter"></i
              ></a>
                        </li>

                        <!--
              <li class="list-inline-item"><a href="#"><i class="la la-dribbble"></i></a></li>
            -->
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/prashil_parmar/"><i class="la la-instagram"></i
              ></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</header>
<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-sm-12 about-photo">
                <img src="./../assets/images/about-2.jpg" class="img-fluid" alt="" />
                <div class="about-image-box"></div>
            </div>
            <div class="col-xl-6 col-lg-6 col-sm-12 about-me">
                <h2 class="box-heading">About</h2>
                <h4>Hi There! I'm Prashil Parmar</h4>
                <p class="text-left mb-20">
                    I'm the Front-End Developer and 
I have serious passion for UI effects, animations and creating intiative, dynamic user experiences. 
                </p>
                <p class="text-left">
                    I provide product design services, working with startups and established companies to improve performance and ease-of-use of their products.

My services include product analysis, through to full product design
                </p>
                <div class="text-left mt-4 about-skil">
                    <h3>Skill</h3>
                </div>
                <div class="about-progress text-left media">
                    <h3>HTML</h3>
                    <div class="media-body ">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 94%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="about-progress text-left media">
                    <h3>PHP</h3>
                    <div class="media-body">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="about-progress text-left media">
                    <h3>ANGULAR</h3>
                    <div class="media-body">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="about-progress text-left media">
                    <h3>MYSQL</h3>
                    <div class="media-body">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service -->
<section id="service" class="service">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-5 col-md-12 text-left service-left">
                <h2 class="box-heading">Service</h2>
                <p>
                    Lorem ipsum dolor sit amet, consect pisicing elit. Diso conseqr dicta odit repudiandae.
                </p>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-12 text-center service-right owl owl-theme">
                <div class="row">
                    <div class="owl-carousel owl2">
                        <div class=" service-box">
                            <div class="service-detail">
                                <i class="la la-desktop"></i>
                                <h3>Web-Design</h3>
                                <p>
                                    It is core of each site since the class and engaging quality that is seen by the gathering of people makes an extraordinary effect.
                                </p>
                            </div>
                        </div>

                        <div class=" service-box">
                            <div class="service-detail">
                                <i class="la la-code-fork"></i>
                                <h3>Web-Development</h3>
                                <p>
                                    We have specialists to give you an extraordinary involvement regarding convenience, security, execution parts of a site.
                                </p>
                            </div>
                        </div>

                        <div class=" service-box">
                            <div class="service-detail">
                                <i class="la la-picture-o"></i>
                                <h3>Mobile Application Development</h3>
                                <p>
                                    Mobile application improvement your business and increment client base on Android, iPhone stages.
                                </p>
                            </div>
                        </div>

                        <div class=" service-box">
                            <div class="service-detail">
                                <i class="la la-picture-o"></i>
                                <h3>Graphic-Design</h3>
                                <p>
                                    Graphic Design is leading to every website since it is actually the visual communication between the space of the content & images.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="owl-carousel owl2">
                        <div class="service-box">
                            <div class="service-detail">
                                <i class="la la-lightbulb-o"></i>
                                <h3>Web Hosting & Domain Reg.</h3>
                                <p>
                                    Presently you should simply center around your activities. We'll deal with facilitating your server with a rapid Performance at the best cost.
                                </p>
                            </div>
                        </div>
                        <div class=" service-box">
                            <div class="service-detail">
                                <i class="la la-picture-o"></i>
                                <h3>Search Engine Opitmisation</h3>
                                <p>
                                    It begins with making your site SEO neighborly to empower Search Engines to look it.<br /><br />
                                </p>
                            </div>
                        </div>
                        <div class="service-box">
                            <div class="service-detail">
                                <i class="la la-lightbulb-o"></i>
                                <h3>Business Promotion</h3>
                                <p>
                                    High Business marketing can make any basic business acclaimed. we offers the best Business promotion.<br /><br />
                                </p>
                            </div>
                        </div>

                        <div class="service-box">
                            <div class="service-detail">
                                <i class="la la-lightbulb-o"></i>
                                <h3>Creative-Concept</h3>
                                <p>
                                    It is a crucial step in any design project... but it's a skill that few people really take the time to understand and appreciate.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- counter up -->
<section class="counter_up">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 counter-box">
                <div class="conter-1">
                    <div><i class="la la-diamond"></i></div>
                    <span class="counter font-weight-bold counter_bar">5</span>
                    <h3>GENERATED <br>INQUIRY</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 counter-box">
                <div class="conter-1">
                    <div><i class="la la-thumbs-up"></i></div>
                    <span class="counter font-weight-bold counter_bar">3</span>
                    <h3>PROJECT <br>DONE</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 counter-box">
                <div class="conter-1">
                    <div><i class="la la-lemon-o"></i></div>
                    <span class="counter font-weight-bold counter_bar">15</span>
                    <h3>CUPS OF <br>COFFEE</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 counter-box">
                <div class="conter-1">
                    <div><i class="la la-smile-o"></i></div>
                    <span class=" counter font-weight-bold counter_bar ">12</span>

                    <h3>HAPPY
                        <br>CLIENT</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial -->
<section class="trusted " id="trusted">
    <div class="container ">
        <div class="row align-items-center ">
            <div class="col-xl-5 col-lg-5 col-md-12 trusted-left ">
                <h2 class="box-heading ">Testimonial</h2>
                <p>
                    Lorem ipsum dolor sit amet, consect pisicing elit. Diso conseqr dicta odit repudiandae.
                </p>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-12 owl owl-theme ">
                <div class="owl-carousel owl2 ">
                    <div class="item ">
                        <div class="trusted-right ">
                            <img src="./../assets/images/team2.jpg " class="rounded-circle image " alt=" " />
                            <h3>
                                <span class="name ">JENNY ANDERSON</span> <br />
                                <span class="post ">WEBDESIGNER</span>
                            </h3>
                            <p class="mt-15 ">
                                Lorem ipsum dolor sit amet, consectetur sicing elit. Accusamus ut rerum verit saepe,nesciunt facilis. Consectetur beatae.
                            </p>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="trusted-right ">
                            <img src="./../assets/images/team1.jpg " class="rounded-circle image " alt=" " />
                            <h3>
                                <span class="name ">JOHN DEO</span> <br />
                                <span class="post ">CEO, MOCKINGBIRD</span>
                            </h3>
                            <p class="mt-15 ">
                                Lorem ipsum dolor sit amet, consectetur sicing elit. Accusamus ut rerum verit saepe,nesciunt facilis. Consectetur beatae.
                            </p>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="trusted-right ">
                            <img src="./../assets/images/team4.jpg " class="rounded-circle image " alt=" " />
                            <h3>
                                <span class="name ">PRASHIL PARMAR</span> <br />
                                <span class="post ">CEO, MOCKINGBIRD</span>
                            </h3>
                            <p class="mt-15 ">
                                Lorem ipsum dolor sit amet, consectetur sicing elit. Accusamus ut rerum verit saepe,nesciunt facilis. Consectetur beatae.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- portfolio -->
<section class="portfolio" id="gallery">
    <div class="container ">
        <div class="row text-center mb-15 ">
            <div class="col-md-8 offset-md-2 ">
                <h2 class="box-heading ">Portfolio</h2>
            </div>
        </div>
        <!--
      <div class="row ">




          <div class="col text-center ">





              <div class="controls mb-15 mixitup-control ">





                  <button type="button " class="g-button-filter " data-filter="all ">ALL</button>





                  <button type="button " class="g-button-filter " data-filter=".design ">DESIGN</button>





                  <button type="button " class="g-button-filter " data-filter=".photography ">PHOTO</button>





                  <button type="button " class="g-button-filter " data-filter=".illustrator ">ILLUSTRATOR</button>





                  <button type="button " class="g-button-filter " data-filter=".art ">ART</button>





              </div>





          </div>





      </div>
    -->
    </div>
    <div class="mixingcon ">
        <div class="container-fluid ">
            <div class="row ">
                <div class="mix design ">
                    <img src="./../assets/images/studvis.png" alt=" " class="img-fluid " />
                    <div class="mix-hover ">
                        <div class="icons ">
                            <a href="# "><i class="la la-chain "></i></a>
                            <a href="./../assets/images/angular.png " class="zoom " data-rel="prettyPhoto[portfolio] "><i class="la la-search "></i
              ></a>
                        </div>
                    </div>
                </div>
                <div class="mix design ">
                    <img src="./../assets/images/angular.png " alt=" " class="img-fluid " />
                    <div class="mix-hover ">
                        <div class="icons ">
                            <a href="# "><i class="la la-chain "></i></a>
                            <a href="./../assets/images/angular.png " class="zoom " data-rel="prettyPhoto[portfolio] "><i class="la la-search "></i
              ></a>
                        </div>
                    </div>
                </div>
                <div class="mix photography ">
                    <img src="./../assets/images/gallary-5.jpg " alt=" " class="img-fluid " />
                    <div class="mix-hover ">
                        <div class="icons ">
                            <a href="# "><i class="la la-chain "></i></a>
                            <a href="./../assets/images/gallary-5.jpg " class="zoom " data-rel="prettyPhoto[portfolio] "><i class="la la-search "></i
              ></a>
                        </div>
                    </div>
                </div>
                <div class="mix design ">
                    <img src="./../assets/images/gallary-7.jpg " alt=" " class="img-fluid " />
                    <div class="mix-hover ">
                        <div class="icons ">
                            <a href="# "><i class="la la-chain "></i></a>
                            <a href="./../assets/images/gallary-7.jpg " class="zoom " data-rel="prettyPhoto[portfolio] "><i class="la la-search "></i
              ></a>
                        </div>
                    </div>
                </div>
                <div class="mix photography ">
                    <img src="./../assets/images/gallary-2.jpg " alt=" " class="img-fluid " />
                    <div class="mix-hover ">
                        <div class="icons ">
                            <a href="# "><i class="la la-chain "></i></a>
                            <a href="./../assets/images/gallary-2.jpg " class="zoom " data-rel="prettyPhoto[portfolio] "><i class="la la-search "></i
              ></a>
                        </div>
                    </div>
                </div>
                <div class="mix illustrator ">
                    <img src="./../assets/images/gallary-6.jpg " alt=" " class="img-fluid " />
                    <div class="mix-hover ">
                        <div class="icons ">
                            <a href="# "><i class="la la-chain "></i></a>
                            <a href="./../assets/images/gallary-6.jpg " class="zoom " data-rel="prettyPhoto[portfolio] "><i class="la la-search "></i
              ></a>
                        </div>
                    </div>
                </div>
                <div class="mix art ">
                    <img src="./../assets/images/gallary-1.jpg " alt=" " class="img-fluid " />
                    <div class="mix-hover ">
                        <div class="icons ">
                            <a href="# "><i class="la la-chain "></i></a>
                            <a href="./../assets/images/gallary-1.jpg " class="zoom " data-rel="prettyPhoto[portfolio] "><i class="la la-search "></i
              ></a>
                        </div>
                    </div>
                </div>
                <div class="mix art ">
                    <img src="./../assets/images/gallar-4.jpg " alt=" " class="img-fluid " />
                    <div class="mix-hover ">
                        <div class="icons ">
                            <a href="# "><i class="la la-chain "></i></a>
                            <a href="./../assets/images/gallar-4.jpg " class="zoom " data-rel="prettyPhoto[portfolio] "><i class="la la-search "></i
              ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
  Blog
  <section id="blog " class="blog ">
      <div class="container ">
          <div class="row ">
              <div class="col-md-8 offset-md-2 text-center mb-15 ">
                  <h2 class="box-heading ">Latest News</h2>





              </div>





          </div>





          <div class="row ">





              <div class="col-md-6 blog-bg ">





                  <div class="blog-size ">





                      <h4 class="blog-title ">Typograph Ink & Water don't</h4>





                      <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has...</p>





                      <button type="button " class="btn btn-outline-dark g-button-2 ">Read More <i class="la la-long-arrow-right ml-3 mt-1 "></i></button>





                      <p> <span class="name-color ">Johan Deo</span> on April 14, 2018</p>





                  </div>





              </div>





              <div class="col-md-6 p-0 blog-thumbnail ">





                  <img src="./../assets/images/news-image-01.jpg " class="img-fluid " alt=" ">





              </div>





          </div>





          <div class="row ">





              <div class="col-md-6 p-0 blog-thumbnail ">





                  <img src="./../assets/images/news-image-02.jpg " class="img-fluid " alt=" ">





              </div>





              <div class="col-md-6 blog-bg ">





                  <div class="blog-size ">





                      <h4 class="blog-title ">Typograph Ink & Water don't</h4>





                      <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has...</p>





                      <button type="button " class="btn btn-outline-dark g-button-2 ">Read More <i class="la la-long-arrow-right ml-3 mt-1 "></i></button>





                      <p> <span class="name-color ">Johan Deo</span> on April 14, 2018</p>





                  </div>





              </div>





          </div>





      </div>





  </section>
-->
<!-- Contact -->
<section id="contact" class="contact ">
    <div class="container ">
        <div class="row ">
            <div class="col-md-6 text-center mb-15 ">
                <h2 class="box-heading ">Contact Us</h2>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-6 bg-black ">
                <form (ngSubmit)="onSubmit()">
                    <div class="form-row ">
                        <div class="form-group col-sm-6 ">
                            <input type="text " name="name " id="name " class="form-control border-top-0 border-right-0 border-left-0 rounded-0 contact-inpt " placeholder="Your Name " />
                        </div>

                        <div class="form-group col-sm-6 ">
                            <input type="text " name="phone " id="phone " class="form-control border-top-0 border-right-0 border-left-0 rounded-0 contact-inpt " placeholder="Your phone Number " />
                        </div>
                    </div>
                    <div class="form-row form-block ">
                        <div class="form-group col-sm-6 ">
                            <input type="text " id="subject " name="subject " class="form-control border-top-0 border-left-0 contact-inpt border-right-0 rounded-0 " placeholder="Your subject " />
                        </div>
                        <div class="form-group col-sm-6 ">
                            <input type="email " id="email " name="email " class="contact-inpt form-control border-top-0 border-left-0 border-right-0 rounded-0 " placeholder="Your Email " />
                        </div>
                    </div>
                    <div class="form-row form-block ">
                        <div class="form-group col-sm-12 mt-15 ">
                            <textarea name="message " id="message " class="contact-inpt form-control border-top-0 border-left-0 border-right-0 rounded-0 " rows="6 " placeholder="Your Message "></textarea>
                        </div>
                    </div>
                    <div class="form-row ">
                        <div class="form-group col-sm-12 mt-10 text-center ">
                            <button type="submit " class="btn btn-outline-dark g-button-2 ">
                Send
              </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-6 contact-2 ">
                <div class="media col-md-12 mb-40 ">
                    <a href="mailto:prashil117@gmail.com"> <i class="la la-envelope "></i></a>
                    <div class="media-body ml-20 ">
                        <p class="m-0 ">EMAIL</p>
                        <h3 class="m-0 ">prashil117@gmail.com</h3>
                    </div>
                </div>
                <div class="media col-md-12 mb-40 ">
                    <a href="tel:+919099942299"> <i class="la la-phone "></i></a>
                    <div class="media-body ml-20 ">
                        <p class="m-0 ">PHONE</p>
                        <h3 class="m-0 ">+91 9099422499</h3>
                    </div>
                </div>
                <div class="media col-md-12 mb-40 ">
                    <a href="skype:theprashilparmar"> <i class="la la-skype "></i></a>
                    <div class="media-body ml-20 ">
                        <p class="m-0 ">SKYPE</p>
                        <h3 class="m-0 ">Prashil Parmar</h3>
                    </div>
                </div>
                <div class="media col-md-12 ">
                    <a href="https://goo.gl/maps/zVnvQMuCkxn" target="blank"> <i class="la la-map-marker "></i></a>
                    <div class="media-body ml-20 ">
                        <p class="m-0 ">ADDRESS</p>
                        <h3 class="m-0 ">C-112,Ganesh Meredian,Ahmedabad</h3>
                        <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3670.593260391722!2d72.52402731477835!3d23.075368820143694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e83495f4a6c91%3A0x8160ff2a0b09c2c1!2sINDIAIR+SERVICES!5e0!3m2!1sen!2sus!4v1541838451554"
                            width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<footer class="my-footer ">
    <div class="container ">
        <div class="row ">

            <div class="col-md-12 text-center ">
                <div class="social ">
                    <a href="https://www.facebook.com/prashil.parmar ">
                        <i class="la la-facebook mr-20 "></i
          ></a>

          <a href="https://twitter.com/ParmarPrasil "
            ><i class="la la-twitter mr-20 "></i
          ></a>
          <a href="https://in.pinterest.com/jollyprashil/?eq=pras&etslf=5550 "
            ><i class="fa fa-pinterest mr-20 "></i
          ></a>
          <!-- <a href="# "><i class="la la-dribbble mr-20 "></i></a> -->
                    <a href="https://www.instagram.com/prashil_parmar/ "><i class="fa fa-instagram "></i
          ></a>
                </div>
                <!--   <h4>PRASHIL PARMAR</h4>-->
                <p>&copy; 2018 Made with <i class="la la-heart "></i> by me.</p>
            </div>
        </div>
    </div>
</footer>


<router-outlet></router-outlet>